@model CategoryModel

<form method="post" asp-action="Delete" class="d-flex justify-content-center">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-1">
            <label asp-for="Name" class="form-label mt-4"></label>
            <input asp-for="Name" class="form-control" id="disabledInput" placeholder="Enter name" disabled>
        </div>

        <div class="mb-1">
            <label asp-for="DisplayOrder" class="form-label mt-4"></label>
            <input asp-for="DisplayOrder" class="form-control" id="disabledInput" placeholder="Enter display order" disabled>
        </div>
        <br />
        <button type="submit" class="btn btn-danger" style="width:150px;">
            <i class="bi bi-trash"></i> &nbspDelete
        </button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px;">
            <i class="bi bi-backspace"></i> &nbspBack
        </a>
    </div>
</form>